<!-- <router-outlet></router-outlet> -->

<div class="container">
  妹妹點名器
  <input #Input type="text" placeholder="新增妹妹名字">
  <input type="file" (change)="uploadFile($event)">
  <button (click)="addData()">確定新增</button>
  <div class="result" >
    <ng-container *ngIf="!isStartDraw && !gameEnd">
      <div *ngFor="let item of data | async">
        {{ item.name }} <span (click)="delData(item.id)">刪除</span>
        <div>
          <img [src]="item.img" alt="">
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="isStartDraw">
      {{ pick }}
      <div>
        <img [src]="pickImg" alt="">
      </div>
    </ng-container>
    <ng-container *ngIf="gameEnd">
      {{ endingText }}
      <div>
        <img [src]="pickImg" alt="">
      </div>
    </ng-container>
  </div>

  <button (click)="getRandomData()">開始點名</button>
</div>
